@use '../utils/mixins';

.main {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  row-gap: 120px;
  padding-block: 120px;
  width: 1260px;
  margin: 0 auto;
  padding: 0 120px;

  @include mixins.on-tablet {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    row-gap: 120px;
    padding-block: 120px;
  }

  @include mixins.on-desktop {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    row-gap: 120px;
    padding-block: 120px;
  }
}
