.header {
  box-sizing: border-box;
  height: 100vh;
  background-image: url(../../images/header-bg.png);
  background-size: cover;
  background-position: center;
}

.header__title {
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  color: var(--white-color);
  line-height: 100%;
  letter-spacing: 0;
  vertical-align: middle;
}

.header__bottom {
  position: absolute;
  bottom: 40px;
  padding: 0 20px;
  display: flex;
  flex-flow: column-reverse;
  color: var(--primary-color);
}
