.top-bar {
  padding: 24px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-bar__icons {
  display: flex;
  gap: 24px;
}

.top-bar__logo {
  width: 152px;
  height: 16px;
}

.top-bar__logo  img {
  height: 100%;
  width: 100%;
}
